<div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                D-World
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="main-bar">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/travel/1">Travel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/food/2">Food</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            Food Recipes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Asia</a></li>
                            <li><a class="dropdown-item" href="#">Europe</a></li>
                            <li><a class="dropdown-item" href="#">Middle-East</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
            <!-- <button (click)="onSignIn()">
                    <i>
                        <img src="../search.png" alt="google login">
                    </i>
                </button> -->
            <!-- <a href="#" onclick="signOut();">Sign out</a> -->
            <div class="dropdown">
                <button class="btn user" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-expanded="false">
                    <em class="fas fa-user-circle fa-lg"></em>
                </button>
                <div *ngIf="signedIn=='true'; else logIn">
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="/user">My Account</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/blogpost-by-type/',3]">Saved Posts</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/blogpost-by-type/',2]">Liked Posts</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="logOut()">Log Out</a></li>
                    </ul>
                </div>
                <ng-template #logIn>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" (click)="login()">Login</a></li>
                        <li><a class="dropdown-item" (click)="register()">Register</a></li>
                    </ul>
                </ng-template>

            </div>
        </div>
    </nav>
</div>
<div style="min-height: 100%;">
    <router-outlet></router-outlet>
</div>